apiVersion: v1
clusters:
- cluster:
    server: {{ EKS.SPINNAKER.EKS_CLUSTER_ENDPOINT.stdout_lines }}
    certificate-authority-data: {{ EKS.SPINNAKER.EKS_CA_DATA.stdout_lines }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-context: aws
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec: heptio-authenticator-aws
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: {{ AWS_IAM_AUTH_CLI.FILE_NAME }}
      args:
        - "token"
        - "-i"
        - "<cluster-name>"
        # - "-r"
        # - "<role-arn>"
      # env:
        # - name: AWS_PROFILE
        #   value: "<aws-profile>"
