AWSTemplateFormatVersion: "2010-09-09"
Parameters:
  MasterUsername:
    NoEcho: 'true'
    Description: RDS for MySQL Username
    Type: String
  MasterUserPassword:
    NoEcho: 'true'
    Description: RDS for MySQL Password
    Type: String
Resources:
  DatabaseInstance:
    Type: "AWS::RDS::DBInstance"
    Properties:
      Engine: "{{ RDS.DB_ENGINE }}"
      DBInstanceClass: "{{ RDS.FLAVOR }}"
      AllocatedStorage: {{ RDS.DISK }}
      StorageType: gp2
      DBInstanceIdentifier: "{{ RDS.NODE_NAME }}"
      MasterUsername: !Ref MasterUsername
      MasterUserPassword: !Ref MasterUserPassword
      DBSubnetGroupName: "{{ RDS.SUBNET_GROUPS }}"
      PubliclyAccessible: true
      VPCSecurityGroups:
        - "{{ RDS.SECURITY_GROUPS }}"
      CopyTagsToSnapshot: true
      BackupRetentionPeriod: 7
    DeletionPolicy: Snapshot
  DatabaseDNSRecord:
    Type: "AWS::Route53::RecordSet"
    Properties:
      HostedZoneId: "{{ ROUTE53.QICOO_TOKYO.HOSTED_ZONE_ID }}"
      Comment: "CNAME record for the db."
      Name:
        "Fn::Join":
          - ""
          - - "{{ ROUTE53.QICOO_TOKYO.RDB_NAME }}"
            - "."
            - "{{ ROUTE53.QICOO_TOKYO.HOSTED_ZONE_NAME }}"
            - "."
      Type: "CNAME"
      TTL: 300
      ResourceRecords:
        - "Fn::GetAtt": ["DatabaseInstance", "Endpoint.Address"]
