kind: PersistentVolume
apiVersion: v1
metadata:
  name: ebs-prometheus-pv
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteMany
  awsElasticBlockStore:
    volumeID: {{ RESTORE_PROME_EBS.stdout }}
